---
const posts = [
  {
    title: "What I Learned From My First Workshop",
    slug: "first-workshop"
  },
  {
    title: "Why Measuring Impact Matters",
    slug: "measuring-impact"
  }
];
---

<html lang="en">
<head>
  <title>Blog</title>
</head>

<body>
  <main>
    <h1>Blog</h1>

    <ul>
      {posts.map(post => (
        <li>
          <a href={`/blog/${post.slug}`}>
            {post.title}
          </a>
        </li>
      ))}
    </ul>
  </main>
</body>
</html>
