---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact | Nandika Trivedi">
  <h1>Contact</h1>

  <p>
    Thank you for visiting my website.
  </p>

  <ul>
    <li>
      Email:
      <a href="mailto:nandikat.30@gmail.com">
        nandikat.30@gmail.com
      </a>
    </li>

    <li>
      LinkedIn:
      <a href="https://linkedin.com/in/nandikatrivedi">
        linkedin.com/in/nandikatrivedi
      </a>
    </li>
  </ul>
</BaseLayout>
