---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact | Nandika Trivedi">
  <h1>Contact</h1>

  <p>
    Thank you for visiting my website.
  </p>

  <ul>
    <li>
      Email:
      <a href="mailto:nandika@example.com">
        nandika@example.com
      </a>
    </li>

    <li>
      LinkedIn:
      <a href="https://linkedin.com/in/nandika">
        linkedin.com/in/nandika
      </a>
    </li>
  </ul>
</BaseLayout>
