---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Impact | Nandika Trivedi">
  <h1>Impact</h1>

  <table>
    <tr>
      <th>Metric</th>
      <th>Value</th>
    </tr>

    <tr>
      <td>Students Reached</td>
      <td>300+</td>
    </tr>

    <tr>
      <td>Schools Supported</td>
      <td>8</td>
    </tr>

    <tr>
      <td>Workshops Conducted</td>
      <td>15</td>
    </tr>

    <tr>
      <td>Volunteers Coordinated</td>
      <td>25</td>
    </tr>
  </table>
</BaseLayout>
