---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
                Welcome to the official home page of Nandika Trivedi, a rising senior in MUSD (Milpitas High School).
            </p>
            <p>
                Student • Education Advocate • Community Builder
			</p>
            <p>
                I am passionate about expanding educational opportunities
                for girls in underserved communities and building initiatives
                that create measurable impact.
			</p>
			<p>Featured Project:</p>
			<ul>
                <li>Girls Education Initiative <code>src/pages/index.astro</code></li>
                <li>View Projects <code>src/pages/projects/<code></li>
                <li>Check out the blog posts in <code>src/content/blog/</code></li>
                <li>Download Resume <code>src/pages/resume/<code></li> 
			</ul>
			<p>
                Have fun! And read more here ...
			</p>
		</main>
		<Footer />
	</body>
</html>

