---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<a href="/" class="site-title">Nandika Trivedi</a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/projects/girls-education">Projects</HeaderLink>
			<HeaderLink href="/impact">Impact</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	.site-title {
		font-weight: 700;
		text-decoration: none;
		color: rgb(var(--black));
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.internal-links {
		display: flex;
		flex-wrap: wrap;
	}
	@media (max-width: 720px) {
		.internal-links {
			gap: 0;
		}
	}
</style>
