---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Summer Research | Nandika Trivedi">
  <h1>A Bioinformatic Re-analysis of Neutrophil Extracellular Trap (NET)
    and Nitric-Oxide Pathway Gene Expression in Inflammatory Disease</h1>

  <h2>The Problem</h2>

  <p></p>

  <h2>My Role</h2>

  <ul>
    <li>Project planning</li>
    <li>Volunteer coordination</li>
    <li>Community outreach</li>
    <li>Program execution</li>
  </ul>

  <h2>Impact</h2>

  <ul>
    <li>Students Reached: XXX</li>
    <li>Workshops Conducted: XX</li>
    <li>Schools Supported: XX</li>
  </ul>

  <h2>What I Learned</h2>

  <p>
    This experience taught me how difficult meaningful change can be,
    and how important listening, collaboration, and persistence are.
  </p>
</BaseLayout>
