---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Summer Research | Nandika Trivedi">
  <h1>A Bioinformatic Re-analysis of Neutrophil Extracellular Trap (NET)
    and Nitric-Oxide Pathway Gene Expression in Inflammatory Disease</h1>

  <h2>The Problem</h2>

  <p>
 Which NET-associated and NO/NOS-pathway genes are significantly
differentially expressed in [target disease] versus healthy controls, and what biological
pathways do these genes represent?
  </p>

  <h2>Advisor</h2>
  <p>Dr. Madhu Dikshit, FNA, FNASc, FASc, FAMS, FTWAS, National Scientist Chair (ANRF)</p>
  <p>CSIR-Central Drug Research Institute, Lucknow</p>
  <p>Email madhudikshit@yahoo.com</p>
  <p>Mobile: 9415111766, 6393782190</p>
  <p></p>
  <p>Former:</p>
  <p>Distinguished Scientist Chair (Ministry of AYUSH)</p>
  <p>Former THSTI National Chair,Translational Health Science and Technology Institute (THSTI), Faridabad</p>
  <p>Visiting Professor, Department of Bioscience & Bioengineering,In</p>

  <h2>My Role</h2>

  <ul>
    <li>Project planning</li>
    <li>Program execution</li>
  </ul>

  <h2>Impact</h2>

  <ul>
  </ul>

  <h2>What I Learned</h2>

  <p>
  </p>

  <h2>Documents</h2>

  <ul>
    <li><a href="/Summer-Research-Proposal.pdf">Summer Research Proposal (PDF)</a></li>
  </ul>
</BaseLayout>
